/.babelrc
/.codeclimate.yml
/.editorconfig
/.eslintignore
/.eslintrc.full.json
/.eslintrc.json
/.gitattributes
/.gitignore
/.ignore
/.mailmap
/.node-version
/.npmrc
/.nvmrc
/.prettierignore
/.prettierrc
/.sonarcloud.properties
/.tool-versions
/.travis.yml
/CHANGELOG.md
/LICENSE
/README.md
/badges.md
/chagelog.md
/docs/
/eslint.config.js
/package-lock.json
/renovate.json
/roadmap.md
/temp
/test
/tests/
/tsconfig.json
/typedoc.json
/yarn.lock

# ignore files
*.ts
# include files
!*.d.ts
!*.js
!*.js.map
!**/
*.test.js
*.spec.js
.github/
.idea/
.npmignore

eslint.config.mjs
cleanup.mjs
