/.babelrc
/.codeclimate.yml
/.editorconfig
/.eslintignore
/.eslintrc.full.json
/.eslintrc.json
/.gitattributes
/.github
/.gitignore
/.idea
/.ignore
/.mailmap
/.npmignore
/.npmrc
/.nvmrc
/.prettierignore
/.prettierrc
/.sonarcloud.properties
/.travis.yml
/CHANGELOG.md
/LICENSE
/README.md
/badges.md
/docs/
/package-lock.json
/renovate.json
/temp
/test
/tests/
/tsconfig.json
/typedoc.json
/yarn.lock

# ignore the .ts files
# *.ts

# include the .d.ts files
# !*.d.ts

/check/is-object-like.ts
/array/get/unique.ts
/date/format.ts
/json/basic/jsonify.ts
/object/basic/de-cycle.ts
/text/case/snake.ts
/var/new/error.ts
