/.babelrc
/.codeclimate.yml
/.editorconfig
/.eslintignore
/.eslintrc.full.json
/.eslintrc.json
/.gitattributes
/.github
/.gitignore
/.idea
/.ignore
/.mailmap
/.node-version
/.npmignore
/.npmrc
/.nvmrc
/.prettierignore
/.prettierrc
/.sonarcloud.properties
/.tool-versions
/.travis.yml
/CHANGELOG.md
/LICENSE
/README.md
/badges.md
/chagelog.md
/docs/
/eslint.config.js
/package-lock.json
/renovate.json
/temp
/test
/tests/
/tsconfig.json
/typedoc.json
/yarn.lock

# ignore files
# *.ts

# include files
# !*.d.ts
# !*.js
# !*.js.map

*.spec.js
*.spec.ts
*.test.js
*.test.ts

eslint.config.mjs
cleanup.mjs
